@mixin form($height: 45px, $padding-left: 10px, $width: 100%, $border-radius: 5px) {
  height: $height;
  width: $width;
  padding-left: $padding-left;
  border-radius: $border-radius;
  border: solid 1px rgb(220, 220, 220);
}

a.new_registration{
  color: white;
}

a.forget{
  color: rgb(220, 220, 220);
}


.btn{
  background-color: #ea352d;
  color: white;
  height: 50px;
  width: 100%;
}

.signin-header {
  text-align: center;
  padding-top: 30px;
  background-color: #f5f5f5;
}
.signin-container {
  font-family: 'arial';
  background-color: #f5f5f5;
  .signin-main {
    color: #333;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    .registration{
      height: 100%;
      width: 343px;
      margin: 0 auto;
      background-color: #fff;
      border-bottom: solid 1px rgb(239, 239, 239);
      text-align: center;
      &__text{
        font-size: 14px;
        padding: 30px;
      }
      &__btn{
        text-decoration: none;
        background-color: #ea352d;
        color: white;
        height: 50px;
        width: 100%;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .main{
      background-color: white;
      .input{
        font-size: 14px;
        height: 100%;
        width: 343px;
        margin: 0 auto;
        padding-bottom: 20px;
        &__email{
          margin: 20px 0;
          &__form{
            @include form();
          }
        }
        &__password{
          margin: 20px 0;
          &__form{
            @include form();
          }
        }
        
        &__submit{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.signin-footer {
  height: 250px;
  text-align: center;
  background-color: #f5f5f5;
  color: #fff;
  padding: 20px 0 10px;
  &__nav{
    padding: 30px 0;
    &__lists__list {
      padding: 7px 0;
      font-size: 13px;
      list-style: none;
    }
  }
  &__logo {
    margin: 40px auto 0;
    text-decoration: none;
    padding-top :20px;
  }
  &__bottom {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #333;
}
