.pickup-container__product-box__product-lists {
  width: 960px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
  flex-wrap: wrap;
  &__product-list {
    .line {
      background-color: #fff;
      display: inline-block;
      text-decoration: none;
      color: #333;
      margin :0 10px 20px 10px;
      position: relative;
      img {
        width: 250px;
        height: 320px;
        background-color: white;
        position: relative;
        
      }
      .body {
        padding: 16px;
        background-color: white;
        color: black;
        height: 90px;
        margin-top: -120px;
        &__name {
          font-size: 16px;
          width: 150px;
          overflow: hidden;
        }
        &__details {
          display: flex;
          justify-content: space-between;
          &__star {
            font-size: inherit;
            text-rendering: auto;
          }
        }
        &__tax {
          font-size: 10px;
          text-align: left;
        }
      }
    }
    .items-box_photo{
      height: 120px;
      &__sold{
        width: 0;
        height: 0;
        border-top: 60px solid #ea352d ;
        border-right: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #ea352d ;
        z-index:100;
        position: relative;
        top:-320px;
        &__inner{
          transform: rotate(-45deg);
          font-size: 28px;
          margin:-35px 0px 0px -55px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
    }
    
  }
}