// 変数----------------
$border: 1px solid #efefef;
$background-color: #fff;
 //-------------------------

.wrapper {
  width: 100vw;
  background-color: #f5f5f5;
}

.signup-header {
  text-align: center;
  padding: 30px 0 20px;
  background-color: #f5f5f5;
}

.details{
  display: block;
  background-color: #f5f5f5;
}
.details-content{
  width: 700px;
  margin: 0 auto;
  background-color: $background-color;
  border-width: 0;
  &__head{
    padding: 16px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    border-style: solid;
    border-width: 0;
    font-weight: bold;
    border-bottom: $border;
  }
  &__inner {
    max-width: 500px;
    margin: 0 auto;
    padding: 24px 16px;
    &__item{
      padding: 24px 12.5% 0;
      max-width: 320px;
      margin: 0 auto;
      display: flex;
      &__image {
        min-width: 80px;
      }
      &__detail {
        margin-left: 50px;
        &__itemName {
          font-size: 15px;
          line-height: 1.5;
          text-align: left;
          padding-top: 6px;
          &__form {
            width: 250px;
            padding-top: 12px;
            &__price {
              font-size: 9px;
            }
            &__fee {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  &__table {
    text-align: center;
    border-top: $border;
    padding: 30px 0;
  }
  &__pricecell{
    font-weight: bold;
    font-size: 20px;
    padding: 0 75px;
  }
  &__accordion{
    margin: 24px 0 10px;
  }
  &__info{
    padding: 0 12.5%;
    border-top: $border;
    border-bottom: $border;
  }
  &__inner{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__form{
    width: 100%;
    display: block;
    text-align: center;
  }
  &__user{
    width: 100%;
    display: block;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__fix{
    display: block;
    text-align: right;
    color: #0099e8;
    width: 100%;
    a{
      text-decoration: none;
    }
  }
  &__infotext{
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    display: block;
    &__register {
      color: rgb(69, 157, 250);
    }
  }
  &__btnText{
    line-height: 1.5;
    margin-top: 8px;
    text-align: center;
  }
  &__btn{
    background: #ea352d;
    border: 1px solid #ea352d;
    padding: 17px;
    margin: 30px 0;
    width: 60%;
    color: white;
    font-weight: bold;
    font-size: 13px;
  }
}
.signup-footer {
  height: 250px;
  text-align: center;
  background-color:#f5f5f5;
  color: #fff;
  padding: 20px 0 10px;
  &__nav{
    padding: 30px 0;
    &__lists__list {
      padding: 7px 0;
      font-size: 13px;
    }
  }
  &__logo {
    margin: 40px auto 0;
    text-decoration: none;
    padding-top :20px;
  }
  &__bottom {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}