@mixin postCode($margin: 20px 0) {
  margin: $margin;
}

@mixin text($margin-bottom: 5px) {
  margin-bottom: $margin-bottom;
}

@mixin form($padding-left: 10px, $height: 45px, $width: 100%, $border-radius: 5px) {
  padding-left: $padding-left;
  height: $height;
  width: $width;
  border-radius: $border-radius;
  border: solid 1px rgb(220, 220, 220);
}

a {
  text-decoration: none;
}

.SideType{
  display: flex;
  align-items: center;
}

.bold{
  font-weight: bold;
}

.red{
  background-color: #ea352d;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  vertical-align: top;
}

.gray{
  background: #bfbfbf;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  vertical-align: top;
}

.Note{
  color: rgb(181, 181, 181);
}

.btn{
  background-color: #ea352d;
  color: white;
  height: 50px;
  width: 100%;
}

.signup-header {
  text-align: center;
  padding-top: 30px;
  background-color: #f5f5f5;
}
.single-container {
  font-family: 'arial';
  background-color: #f5f5f5;
  .single-main {
    color: #333;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    .title{
      height: 90px;
      line-height: 90px;
      background-color: #fff;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      border-bottom: solid 1px rgb(239, 239, 239);
    }
    .main{
      background-color: white;
      .input{
        font-size: 14px;
        height: 100%;
        width: 343px;
        margin: 0 auto;
        padding-bottom: 20px;
        &__postCode{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__prefecture{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__city{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__houseNumber{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__buildingName{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__phoneNumber{
          @include postCode();
          &__text{
            @include text();
          }
          &__form{
            @include form();
          }
        }
        &__submit{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.signup-footer {
  height: 250px;
  text-align: center;
  background-color: #f5f5f5;
  color: #fff;
  padding: 20px 0 10px;
  &__nav{
    padding: 30px 0;
    &__lists__list {
      padding: 7px 0;
      font-size: 13px;
      list-style: none;
    }
  }
  &__logo {
    margin: 40px auto 0;
    text-decoration: none;
    padding-top :20px;
  }
  &__bottom {
    font-size: 10px;
  }
}
